body{
background: #a9b6bc url(./TEMPLATE/images/bg.jpg) center repeat-y;
margin: 0; padding: 0;
}
body,td,th {
font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #6F787D;
}
.top{
background: url(./TEMPLATE/images/top.jpg) no-repeat;
width: 1042px; height: 36px;
margin: 0; padding: 0;
float: right;
}
.valign{
vertical-align: middle;
padding-left: 15px;
}
.valign2{
vertical-align: middle;
padding-left: 420px;
}
.valign3{
vertical-align: middle;
text-align: right;
padding-right: 45px;
color: #FFF;
}
.copy{
vertical-align: middle;
padding-left: 15px;
float: left;
color: #FFF;
font-size: 10px;
}
.undertop{
background: url(http://winchelldesign.com/iGnition/TEMPLATE/images/undertop.jpg) no-repeat;
width: 1042px; height: 12px;
margin: 0; padding: 0;
}
.header{
background: url(TEMPLATE/images/banner.jpg) no-repeat;
width: 1042px; height: 189px;
margin: 0; padding: 0;
}
.navigation{
width: 1042px; height: 33px;
margin: 0; padding: 0;
}
.divider{
background: url(TEMPLATE/images/divider.jpg) no-repeat;
width: 1042px; height: 5px;
margin: 0; padding: 0;
}
.content{
background: #bfcad0;
padding: 5px;
}
.row{
background: #b0bdc5;
padding: 5px;
}
.spacer{
background: #a9b6bc;
width: 1042px; height: 50px;
}
.footer{
width: 1042px; height: 41px;
margin: 0; padding: 0;
}
.rowbg{
height: 27px;
background-color: #b0bdc5;
}
.container{
width: 1042px;
margin: 0; padding: 0;
}
#wrapper{
width: 1042px;
margin: 0 auto;
}
a.map:active, a.map:visited, a.map:link {
font-size: 10px;
text-decoration: none;
color: #FFF;
}

a.map:hover {
font-size: 10px;
text-decoration: none;
color: #FFF;
}
