.clsDataArea{
	width: 100px;
	height: 15px;
	border: 0px;
	padding: 0px; /* Some weird shadowing effect in Firefox when padding isn't set to 0 */
	background-repeat: repeat-x;
	font-size: 10px;
	font-family: Tahoma, Arial;
	vertical-align: middle;
	color: #000000;
	font-weight: bold;
	background-image: url(../gfx/text_middle.png);
	margin-top: 3px;
}

.clsOuterFrame {
	background-color : #3a4040;
}

.clsInnerFrame {
	background-color : #3a4040;
}

.clsTopPartNavpanel {
	background-color : #3a4040;
	height: 3px;
}

.clsBottomPartNavpanel{
	background-color : #3a4040;
	height: 3px;
}

.clsNavpanel {
	background-color : #3a4040;
	
}
.clsDateGrid{
	background-color : #3F738D;
	
}


.clsWeekDay{
	background-color: #ECECF1;
	font: bold 11px Verdana, Arrial Narrow, sans-serif;
	color: #3F738D;
	width : 15px;
	text-align: center;
}


.clsSelectedDayCell{
	background-color: #F22800;
	text-align: center;
}
.clsWorkDayCell{
	background-color: #FFFFFF;
	text-align: center;
	width : 15px;
}
.clsHoliDayCell{
	background-color: #DCE6F0;
	text-align: center;
	width : 15px;
}
.clsOtherMonthDayCell{
	background-color: #FFFFFF; 
	text-align: center;
	width : 15px;
}


.clsOtherMonthDay{
	font: 11px Verdana, Arrial Narrow, sans-serif;
	color: Silver;
	text-decoration : none;
}
.clsCurrentMonthDay{
	font:  11px Verdana, Arrial Narrow, sans-serif; 
	color: #3F738D;
	text-decoration : none;
}
.clsSelectedDay{
	font: 11px Verdana, Arrial Narrow, sans-serif;
	color: #FFFFFF;
	text-decoration : none;
}

.clsInfoTitle{
	font: 11px Verdana, Arrial Narrow, sans-serif; 
	color: #FFFFFF;
	text-align: center;
}
